asgiref==3.10.0 ; python_version >= "3.12" and python_version < "3.14"
attrs==25.4.0 ; python_version >= "3.12" and python_version < "3.14"
django==5.2.7 ; python_version >= "3.12" and python_version < "3.14"
djangorestframework-simplejwt==5.5.1 ; python_version >= "3.12" and python_version < "3.14"
djangorestframework==3.16.1 ; python_version >= "3.12" and python_version < "3.14"
drf-spectacular==0.27.2 ; python_version >= "3.12" and python_version < "3.14"
inflection==0.5.1 ; python_version >= "3.12" and python_version < "3.14"
jsonschema-specifications==2025.9.1 ; python_version >= "3.12" and python_version < "3.14"
jsonschema==4.25.1 ; python_version >= "3.12" and python_version < "3.14"
psycopg2-binary==2.9.11 ; python_version >= "3.12" and python_version < "3.14"
pyjwt==2.10.1 ; python_version >= "3.12" and python_version < "3.14"
python-dotenv==1.1.1 ; python_version >= "3.12" and python_version < "3.14"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "3.14"
referencing==0.36.2 ; python_version >= "3.12" and python_version < "3.14"
rpds-py==0.27.1 ; python_version >= "3.12" and python_version < "3.14"
sqlparse==0.5.3 ; python_version >= "3.12" and python_version < "3.14"
typing-extensions==4.15.0 ; python_version == "3.12"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "3.14" and sys_platform == "win32"
uritemplate==4.2.0 ; python_version >= "3.12" and python_version < "3.14"
